{% extends 'posts/post_base.html' %}

{% block content %}
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}
<div class="container create_comment">
    <h1>New comment</h1>
    <form method="POST" class="post-form">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="save btn btn-primary">Post Comment</button>
    </form>

    <script>var editor = new MediumEditor('.editable');</script>
</div>
{% endblock %}
