{% extends 'groups/group_base.html' %}
{% load bootstrap4 %}

{% block group_content %}
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}
<div class="container create_topic">
<h4>Create a new group!</h4>
	<form action="{% url 'groups:create' %}" method="post" id="groupForm">
		{% csrf_token %}
		{% bootstrap_form form%}
		<input type="submit" class="btn btn-primary btn-large" value="Create">
	</form>
</div>
{% endblock %}