#postForm {
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  #postForm input[type=submit] {
    background-color: black;
    border-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  #postForm input[type=submit]:hover {
    background-color: darkgrey;
    border-color: darkgrey;
  }

  #groupForm {
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  #groupForm input[type=submit] {
    background-color: black;
    border-color: black;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  #groupForm input[type=submit]:hover {
    background-color: darkgrey;
    border-color: darkgrey;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  
  .create{
    width:50vw;
  }

  .create_comment{
    width:50vw;
  }

  .create_topic{
    width:50vw;
  }