/* Main container for the group list */
.list-group {
    width: 50vw;
    margin-top: 10px;
    padding: 20px;
}

/* Style the list items for each group */
.list-group-item {
    background-color: #F0F0F0;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 20px;
}

/* Style the group name in each list item */
.list-group-item-heading {
    color: #2F4F4F;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style the group description in each list item */
.list-group-item-text {
    font-size: 16px;
    line-height: 1.5;
}

/* Style the badges for the number of members and posts */
.badge {
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    padding: 5px 10px;
}

/* Style the "Create New Group" button */
.btn{
    background-color: black;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn:hover {
	background: darkgray;
}


/* Style the page header */
.content h2 {
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style the page description */
.col-md-3{
    margin-top: 10px;
    color: black;
    margin-left: 10px;
}

