body {
	background: #282828;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

h1 {
  font-size: 72px;
  font-weight: 800;
  color: #FFF;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1);
}

p {
  font-size: 24px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  margin-bottom: 50px;
}

.cta-btn {
  display: inline-block;
  background: #f44336;
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  padding: 20px 40px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.cta-btn:hover {
	background: #ff6659;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
  
  p {
    font-size: 18px;
  }
  
  .cta-btn {
    font-size: 24px;
    padding: 15px 30px;
  }
}
