.background-overlay {
  background-image: url(texture.jpg);
  background-position: center;
  /* Stretch the image to fit the screen without repeating, maintaining aspect ratio */
  /* Set the background image to not repeat */
  position: fixed;
  background-size:cover;
  width: 100%;
  height: 100%;
  z-index: -1; /* Make sure the background is behind the content */
}
  

  
  /* Style the main content area */
.mycontent {
    color: #fff;
    max-width: 100vw;
}
  
  /* Style links */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .navbar {
    background-color: #343a40;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
  }

  .container{
    width:auto;
    height: 80vh;
  }
